/* Structure du site. */

body 
{
    margin:50px 50px 50px 50px;
    font-family: 'Raleway', sans-serif;

}



h1
{

}

h2

{


}

p 

{

}

em
{

}

nav a
{
    text-decoration : none;
    flex-grow:3;

}

header
{




}

nav
{
    display: flex;
    width:400px;
    justify-content: space-between;
    
   
    




}

section
{

}

article
{

}

aside
{

}

footer
{

}

/* class */

.navigation
{
    display: flex;
    justify-content: space-between
}



