/* Structure du site. */


body 
{
    margin:auto;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    max-width:1460px;
    position: relative;




}
h1
{
    font-size: 24px;
    font-style: bold;
}
h2

{
    font-size: 20px;
}
h3
{
    font-size:18px;
    color: black;
}
p 

{
    font-size: 15px;
    color: black;
}
em
{

}
a
{
    text-decoration: none;


}
a:active
{

}
/* etoile*/
.grey
{
    color:rgb(217,217,217);
}
.blue
{
    color:rgb(0,101,252);
}


/* barrre de recherche */

.recherche
{
    border: none  1px;
    width : 417px;
    height:52px;
    padding-bottom: 48px;
    border-radius:25px;
    display: flex;
}


#icon_loc
{
    color:black;
    background-color: #DDD6D5;
    width: 55px;
    height:52px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}

#button
{

    border-radius:0px 15px 15px 0px;
    border: none;
    color: white;
    background-color:#1873F5;
    width: 133px;
    height: 52px;
    font-size: 18px;
}

#search 
{
    border: solid;
    border-width:1px;
    border-color:#DDD6D5;
}

/* Filtres */

.filtres
{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-bottom: 30px;

}

.capsule
{
    display: flex;
    padding-right: 30px;
    height: 44px;
    border: solid;
    border-radius: 40px;
    border-color: rgb(217,217,217);

}

.capsule p:hover
{
    color:rgb(0,101,252);
    font-style: normal;
}

.text_filtres

{
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left:10px;
    font-weight:bold;
    font-size: 17px;
}

.cercle
{  
    justify-content: center;
    display: flex;
    flex: wrap;
    flex-direction: column;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgb(222, 235, 255);
}

.icon
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:rgb(0,101,252);
}



/* menu navigation */

.navigation
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav 
{
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-size: 15px;
}

nav a
{
    text-decoration: none;
}

.hebergement a
{
    color:rgb(0,101,252);
    text-decoration: none;
}

.activite 
{

    margin-left: auto;
    margin-right: auto;
}

.activite a
{
    color: black;
}

.inscription  a
{
    color:rgb(0,101,252);
    font-weight: bold;
    text-decoration: none;
}

.info
{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 30px;
}

.cercle_info
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    border:solid;
    border-width: 2px;
    border-color: rgb(217,217,217);
    color:rgb(0,101,252); 
    width: 25px;
    height: 25px;
    border-radius: 15px;
}


/* div Hébergement/les plus populaires */

.centre
{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;


}

/* Hébergement*/

.location
{
    background-color: rgb(242,242,242);
    border-radius: 20px;
    width: 65%;
    height: auto;
    padding: 30px;


}

.flex
{
    display:flex;
    flex-wrap: wrap;
    column-gap: 30px;
}


.card
{
    background-color: white;
    border-radius: 20px;
    border-color: white;
    width: 280px;
    padding: 5px;
    height: 215px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgb(200,200,200);

}



.card img
{ 
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    object-fit: contain;
    max-height: 120px;
    object-fit: cover;

}

.contenue    
{
    line-height: 5px;
    margin-left: 15px;
    margin-bottom: 17px;
}


.Afficher
{
    font-weight: bold;
}

/* Les plues populaires */

.titre_pop
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
}

.populaire
{
    background-color: rgb(242,242,242);
    border-radius: 20px;
    width: 24%;
    height: auto;
    margin-left:30px;
    padding: 30px;
}

.pop
{
    display:flex;
    width: 335px;
    height: 145px;

}

.pop img
{
    width: 100%;
    max-width: 120px;
    max-height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 0px 0px 20px;
    margin-right: 5%;
}



/* Activité */

.container
{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    display: flex;
    column-gap: 55px;

}

.bloc1
{

    column-gap: 25px;

}
.bloc2
{


}

.vignette 
{
    border-radius: 20px;
    border-color: white;
    width: 315px;
    padding-bottom:5px; 
    height: 440px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgb(200,200,200);
    
}
.vignette img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 385px;
    object-fit: cover;
    object-position: center bottom;


}

.vignette2
{
    border-radius: 20px;
    border-color: white;
    width: 315px;
    padding-bottom:5px;
    height: 230px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgb(200,200,200);
}
.vignette2 img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.vignette3
{
    border-radius: 20px;
    border-color: white;
    width: 315px;
    padding-bottom:5px;
    height: 170px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgb(200,200,200);

}
.vignette3 img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 110px;
    object-fit: cover;
}

.vignette4
{
    border-radius: 20px;
    border-color: white;
    width: 315px;
    padding-bottom: 5px;
    height: 200px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgb(200,200,200)y;

}
.vignette4 img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.vignette5
{
    border-radius: 20px;
    border-color: white;
    width: 315px;
    padding-bottom: 5px;
    height: 210px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgb(200,200,200);
}
.vignette5 img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.container h3
{
    padding-left: 20px;
}

/* pied de page */

.text-footer
{
    background-color: rgb(242,242,242);
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-right: 250px;
    line-height: 30px;
}

